.App {
  text-align: center;
  background-color: #1F2428;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.chat 
{
  border: 1px solid;
  height: 608px;
  padding: 10px;
  background-image: url(https://i.pinimg.com/originals/58/c3/33/58c33377dfcbb3022493dec49d098b02.jpg);
  
}
.search
{
  border: 1px solid;
  height: 608px;


}

.receive-chat {
  position: relative;
  background-color: #066162  ;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
  margin-left: 67%;
}
.sender{
  background-color: #252d30  ;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
}


.MainChat{
  background-color: #252d30  ;
}

html, body, #root, .App, .MainChat
{
    width: 100%;
    height: 100%;
}


.buttonChat{
  background-Color:#1f2428 ;
   color:white
}





